*{
    margin: 0; padding:0 ;
   
   box-sizing: border-box;
    
}
body{
    font-family:Poppinns;  min-width:352px;
   
}
header{
    background-color: #FFF; width: 98%; color: #3A3A3A; font-weight: 700;
   
}
nav{
    font-weight: 700; display: flex; justify-content: space-around;
    width: 98%; padding: 40px 2px 0px 0px; align-items: center;
   
}
ul{
    display: flex; justify-content: space-between;  width: 54%; 
}
nav li {
    font-size: 1.12rem; list-style: none; font-weight: 700;
}
nav h1{
    font-size: 1.7rem; font-weight: 700;
}
.header_tag{
    width: 40%; 
  
}
.content{
    display: flex; justify-content: space-evenly;
    margin-top: 100px; width: 98%; 
}
.header_tag h1{
    font-family: Poppins;
    font-size:3.25rem;
    font-style: normal;
    font-weight: 700;
    margin-top: 110px; 
}
.btn{
    width: 162px; height: 40px; border-radius: 41px;
    background-color: #E02C6D; margin-top: 50px;
    font-size: 1rem; font-weight: 700; color: #FFF; border:none;
    margin-bottom: 90px; margin-left: 5px;
}
.header_image{
    width:36%; 
    background-image: url(influencer-gear/images/Circle\ design.svg);
    background-size: contain; background-repeat: no-repeat;
}
.header_tag p{
     font-size: 1rem; font-weight: 600;
     padding-left: 5px;
}
.header_image img{
    margin: 7px 7px 7px 0;width:94% ;height:72%;
}



.header_logo{
    border-bottom: 1px solid steelblue;
    border-top: 1px solid steelblue; margin-top: 80px;
    width: 85%; margin-left: auto; margin-right: auto;
    display: flex; justify-content: space-evenly; flex-wrap: wrap;
    align-items: center; display: none;
}
.x{
    margin-top: 35px;
    height: 100px; width:120px;
}
.x img{
   margin-left: 14%
}
.logo_image-3{
   margin-top: 46px;
}
@media screen and (min-width:350px) and (max-width:796px){
    nav li{
        font-size: 1rem;
    }
    nav li img{
        width: 22px; height: 22px;
    }
    nav{
        flex-direction: column;
        align-items: center; justify-content: center;
    }
    .content{
        flex-direction: column-reverse;
    }
    .header_image{
        width: 88%;
        margin-left: auto; margin-right: auto;
    }
    
    .header_tag{
        width: 88%; margin-right: auto; margin-left: auto;
    }
    .header_tag h1{
        font-size: 1.7rem;
    }
    nav ul{
        width: 90%;
        margin-left: auto; margin-right: auto;
    }
    .header_image img{
        width: 86%; height: 63%;
    }
    .header_tag p,h1{
        padding-left: 5px;
    }
    nav h1{
        margin-left: auto; margin-right: auto;
    }
}


/*kjfhcjw          HGFFVUWYHEFGVDU               wedfiuwehiudf awkefbhiuwehf awhfbiuasjdhf*/


.main_pic{
  width: 82vw; margin-left: auto; margin-right: auto;
  display: flex; justify-content: space-evenly;
  flex-wrap: wrap; margin-top: 50px; 
}
.dont{
    width: 340px; margin-left: auto; margin-right: auto;
}
.none{
    width: 98vw;
}
.pic{
    background-color: #FFF;;
    height: 475px; width:330px ;
   
    margin-bottom: 34px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.heading{
    color: #3A3A3A;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Poppins;
font-size: 1.75rem;
font-style: normal;
font-weight: 600;
line-height: 1.75rem; /* 250% */
margin-top: 120px; text-align: center;
}
.main_pic .heading{
     font-weight: 500; margin-top: 10px;
    text-align: start; font-size: 1.6rem;
}
.main_pic h3{
    font-weight: 700; 
    color: gray; font-size:1rem ;
    line-height: 22px;
}
.no{
    
}
.btn_contain{
    width: 74vw; height: 50px; 
    margin-left: auto; margin-right: auto; position: relative;
}
.bttn{
    width: 145px; height: 42px; border-radius: 36px;
    font-size: 1.35rem; background-color:#FFF; position: absolute;
    right: 0; border: none; color:#E02C6D font-weight: 600;
}
.last_container{
    width: 78vw; margin-left: auto; margin-right: auto; display: none;
    margin-top: 100px; display: flex; justify-content: space-around;
}
.left{
    width: 42%; 
    height: 300px;
}
.right {
    width: 54%; 
   
}
.right h1{
    color: #0A0826;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 2.37rem;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 157.895% */
    margin-top: 25px; margin-bottom: 20px;
}
.right p{
    color: #6C6C6C;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 175% */
}
.right button{
    width: 126px;
    height: 50px; background-color: #E02C6D; margin-top: 20px;
    color: #FFF; border: none; font-size: 1.28rem;
    display: flex; align-items: center; justify-content: center;
}


@media screen and (min-width:350px) and (max-width:1260px)  {
    
    .last_container{
        flex-direction: column-reverse;
    }
    .right{
        width: 99%;
    }
    .right h1{
        font-size: 2.2rem;
    }
    .left{
        width: 75%;
        margin-top: 20px;
    }
}
@media screen and (min-width:350px) and (max-width:576px){
    .right h1{
        font-size: 1.8rem;
    }
    .last_container{
        width: 90%;
    }
    .left{
        width: 99%;
    }
}


/*jhbdgcsbadcfkdbjkcfjnsdkjln GBAGBFKBK WAGBKWBDF KJWEDFKJHWE LANDFLHNWEL
KSJADFJ
SDFCJWEOJFCOJWE LKWEDFLWELDF JKNDBHHWEIOHDF kjbhduihwe
jnhedfjhnwe jdoj   kljdijQWD*/



.foot{
    width: 96%;
    
    margin-top: 100px; min-height: 260px;
  
}
footer h1{
    color:#6C6C6C;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Poppins;
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
footer h2{
    color: var(--Text-Gray-300, #D9DBE1);
font-feature-settings: 'liga' off;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 200% */
text-align: center;
}
.fig{
    margin-top: 25px;
}
@media screen and (min-width:348px) and (max-width:380px){
    footer h1{
        font-size: 1.7rem;
    }
}

